* {
	margin: 0;
	padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #3b0e68;
}

.container__main {
    width: 450px;
    height: 720px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #232323;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #080808;
    overflow: hidden;
}

.logo {
    position: absolute;

    width: 45px;
    height: 45px;
    top: 20px;
    left: 20px;

    border-radius: 20%;
    box-shadow: 0px 5px 15px #8030a9;
}

@font-face {
    font-family: 'Iceland';
    src: local('Iceland'),
        url(/fonts/Iceland.ttf) format('truetype');
}

.name__assistant {
    font-family: Iceland;
    position: absolute;
    color: #8030a9;
    text-shadow: 0px 0px 20px #8030a9;

    top: 20px;
    left: 75px;
    font-size: 45px;
    cursor: default;
}

.name__assistant__version {
  color: #666666;
  font-size: 20px;
}

a {
  text-decoration:none;
}

a:active {
  /* Цвет ссылки при клике */
  color: #8030a9;
}

a:visited {
  /* Цвет посещённой ссылки */
  color: #8030a9;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.section {
	display:flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.burger-menu__button {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 30;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.burger-menu__button:hover .burger-menu__lines {
	filter: brightness(0.8);
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
	position: absolute;
	width: 40px;
	height: 6px;
	background-color: #8030a9;
    
    border-radius: 300px;
}


.burger-menu__lines {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  border-radius: 300px;
}

.burger-menu__lines::before {
	content: '';
	top: -12px;
  box-shadow: 0px 0px 20px #7600b1;
}

.burger-menu__lines::after {
	content: '';
	top: 12px;
    box-shadow: 0px 0px 20px #7600b1;
}

.burger-menu_active .burger-menu__lines {
	background-color: transparent;
}

.burger-menu_active .burger-menu__lines::before {
	top: 0;
	transform: rotate(45deg);
}

.burger-menu_active .burger-menu__lines::after {
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu__nav {
	padding-top: 80px;
	position: fixed;
	z-index: 20;
	display: flex;
	flex-flow: column;
	height: 100%;
	background-color: #2a2a2a;
	overflow-y: auto;
	left: 100%;
    width: 400px;
    transition: left 0.5s ease-in-out;
}

.burger-menu_active .burger-menu__nav{
	left: 251px;
    transition: left 0.5s ease-in-out;
}

.burger-menu__link {
	padding: 30px;
	font-family: sans-serif;
	font-size: 32px;
	text-decoration: none;
	color: #8030a9;
  transition: left 2s ease-in-out;
  text-shadow: 0px 0px 20px #8030a9;
  font-family: Iceland;
}

.burger-menu__link:hover {
  background-color: #272727;
}

.burger-menu__overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
}

.burger-menu_active .burger-menu__overlay {
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
}

.version {
  position: relative;

  left: 20px;
  top: 410px;
  
  font-family: Iceland;
  color: white;
  font-size: 20px;
  cursor: default;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

p {
    position: relative;
    font-family: Iceland;
    color: white;
    font-size: 16px;
    top: 170px;
    font-weight: normal;
}

.exactly {
  color: #8030a9;
  text-shadow: 0px 0px 10px #8030a9;
}

.fictional {
  color: #8030a9;
  text-shadow: 0px 0px 10px #8030a9;
}  

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.commands__list {
  position: relative;
  
  width: 90%;
  height: 500px;
  top: 100px;
  border-radius: 10px;

  background-color: #1A1A1A;
  box-shadow: 0px 0px 20px #8030a9;
  overflow: scroll;
  overflow-x:hidden;
  scrollbar-width: thin;
  scrollbar-color: gray white;
}

.commands__title {
  position: relative;

  right: 30px;
  top: 18px;
  
  font-family: Iceland;
  color: #8030a9;
  font-size: 25px;
}

.h3__open__programs {
  position: relative;

  right: 70px;
  top: 20px;
  
  font-family: Iceland;
  color: white;
  font-size: 20px;
}

.p__open__programs {
  position: relative;

  right: -34px;
  top: 20px;
  
  font-family: Iceland;
  color: rgb(94, 94, 94);
  font-size: 20px;
  text-align: left;
}

.h3__ {
  position: relative;

  right: -29px;
  top: 20px;
  
  font-family: Iceland;
  color: white;
  font-size: 20px;
  text-align: left;
}

.p__ {
  position: relative;

  right: -34px;
  top: 20px;
  
  font-family: Iceland;
  color: rgb(94, 94, 94);
  font-size: 20px;
  text-align: left;
}